@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.StdRegModule.Models.StudentReg>
@{
    ViewBag.Title = "AddStudent";
}
@using DotNetNuke.Web.Mvc.Helpers
<h2>AddStudent page</h2>
<div id="Student-@Dnn.ModuleContext.ModuleId">
    <fieldset>
        <div class="dnnFormItem">
            <div><label for="StdName">@Dnn.LocalizeString("lblStdName")</label></div>
            @Html.TextBoxFor(m => m.StdName)
        </div>
        <div class="dnnFormItem">
            <div><label for="StdClass">@Dnn.LocalizeString("lblStdClass")</label></div>
            @Html.TextBoxFor(m => m.StdClass)
        </div>
        <div class="dnnFormItem">
            <div><label for="StdClgName">@Dnn.LocalizeString("lblStdClgName")</label></div>
            @Html.TextBoxFor(m => m.StdClgName)
        </div>
        @Html.HiddenFor(m => m.ModuleID)
    </fieldset>

<button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("Submit")</button>
<a href="@Url.Action("Index", "Student", new {})">@Dnn.LocalizeString("Cancel")</a>
</div>
