@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.StdRegModule.Models.StudentSettings>

@{
    ViewBag.Title = "Settings";
}
@using DotNetNuke.Web.Mvc.Helpers
<h2 id="stdPanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m=>Model.IsPassed, new { @class = "col-md-2 control-label" })
        </div>
        @Html.CheckBoxFor(m => Model.IsPassed)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.Marks, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.Marks)
    </div>
</fieldset>

